<div class="container">
  <ul class="tabs">
    <li><a href="/user_events">Data Management</a></li>
    <li><a href="/events">Earthquake Map</a></li>
    <li class="active"><a href="/data_viz">Earthquake Visualization</a></li>
    <li><a href="/users">Account Data</a></li>
  </ul>
</div>
<hr>

<div class="display-top"></div>
<div class="display-main"></div>
