
<div class="request-data">
    <form id="request-data" method="post" action="/events">
        <label>
            <input id="dataset-name" class="input-group-input" type="text" name="horse[name]" value="<%= #@horse.try(:name) %>">
            <span class="input-group-label">Dataset Name:</span>
        </label>
        <br>
        <label>
            <input id="latitude" class="input-group-input" type="text" name="horse[age]" value="<%= #@horse.try(:age) %>">
            <span class="input-group-label">Center Latitude</span>
        </label>
        <br>
        <label>
            <input id="longitude" class="input-group-input" type="text" name="horse[breed]" value="<%= #@horse.try(:breed) %>">
            <span class="input-group-label">Center Longitude</span>
        </label>
        <br>
        <label>
            <input id="radius" class="input-group-input" type="text" name="horse[breed]" value="<%= #@horse.try(:breed) %>">
            <span class="input-group-label">Radius (km)</span>
        </label>
        <br>

        <button type="submit" class="button dark">Submit</button>
    </form>
</div>
