
<div class="container">
  <ul class="tabs">
    <li><a href="/user_events"><strong>Data Management</strong></a></li>
    <li><a href="/events"><strong>Earthquake Map</strong></a></li>
    <li><a href="/data_viz"><strong>Earthquake Visualization</strong></a></li>
    <li><a href="/users/#{<%= session[:id] %>}"><strong>Account Data</strong></a></li>
  </ul>
</div>
<hr>

<div class="display-top"></div>
<div class="display-main" id="main-page-intro">
  <h2>Welcometo the Earthquake Map App!</h2>
  <h2>Here you can access and examine earthquake data from the U.S.G.S.</h2>
  <h2>Click on a tab above to begin.</h2>


</div>
