<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/tab-styling.css">
  <link rel="stylesheet" href="/css/application.css">
  <link rel="shortcut icon" href="/images/favicon.ico?v=2" />

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>


  <title></title>
</head>
<header>
   <%= erb :"/headers/_header.html" %>
</header>
<body>
  <%= yield %>
</body>
</html>
